//Accordion ungeöffnet
.accordion-header .accordion-button{
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #000000;
}

//Rahmen
.accordion {
  --bs-accordion-border-color: #000000;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0px;
  --bs-accordion-bg: #DADADA;
  --bs-accordion-active-bg: #DADADA;
}